/* .side--content {
	min-height: calc(100vh - 160px); 
}*/

.menu {
	padding-left: 65px;
	margin-right: 165px;
}

.menu__item {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.item__svg-wrapper {
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu__item svg {
	fill: #80858B
}

.menu__item--active svg {
	fill: #7B61FF;
}

.menu__title {
	margin-left: 23px;
	font-family: 'Exo 2', sans-serif;
	color: #80858B;
	font-weight: 600;
	font-size: 18px;
}

.menu__item--active .menu__title {
	color: #7B61FF;
}

.footer {
	color: #AFB2B6;
	font-weight: 500;
	padding-left: 65px;
	padding-bottom: 75px;
}

@media (max-width:1023px) {
	.side--content {
		position: absolute;
		top: 0;
		right: 0;
		background: #000;
		z-index: 2;
		height: 100vh;
		display: none;
	}

	.side--content--opened {
		display: flex;
	}

	.menu {
		padding-top: 130px;
	}
}

@media (max-width:1023px) {
	.side--content {
		width: 100%;
	}
}